
.DS_Store

mv2/MVStudyApp/vrjdefs/.svn/all-wcprops

mv2/MVStudyApp/vrjdefs/.svn/entries

*.svn-base

*.xcsettings

*.xcuserstate

*.xcscheme

*.xcbkptlist

mv2/MVStudyApp/MVStudyApp.xcodeproj/xcuserdata/tim.xcuserdatad/xcschemes/xcschememanagement.plist

mv2/MVStudyApp/MVStudyApp.xcodeproj/xcuserdata/kennyk.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcworkspacedata

mv2/MVStudyApp/MVStudyApp.xcodeproj/project.pbxproj

mv2/MVStudyApp/MVStudyApp.xcodeproj/kennyk.pbxuser

mv2/MVStudyApp/MVStudyApp.xcodeproj/kennyk.mode1v3

mv2/MVStudyApp/MVStudyApp.xcodeproj/kennyk.mode1
